- autor: Eduardo Pacheco (edu@atlasia.tech)
- 11/01/2023

### Estudo de Caso Dotz

Precisamos entenderrt o algoritmo SHAP e a fórmula do SHAP values no paper original. A abordagem que daremos aqui é uma abordagem computacional, de forma a reproduzir os exemplos do artigo  [SHAP Values Explained Exactly How You Wished Someone Explained to You](https://towardsdatascience.com/shap-explained-the-way-i-wish-someone-explained-it-to-me-ab81cc69ef30) via código.

In [35]:
import warnings
warnings.filterwarnings('ignore')

### O que é SHAP (resumo cego)?

O algoritmo SHAP (SHapley Additive exPlanations ) é um modelo de explicabilidade de modelos de machine learning aplicável a modelos black box. Ele é capaz de medir a contribuição marginal de cada feature em um caso na previsão daquele caso. É, portanto, um modelo de explicabilidade local.

SHAP foi proposto por Lundberg e Lee no artigo [A Unified Approach to Interpreting Model Predictions](https://arxiv.org/abs/1705.07874). Os autores se valem de um conceito das teorias dos jogos chamado Sharpley Values. Os Sharpley Values são valores associados à importância de cada jogador em um jogo. Essa importância é calculada considerando cada possível interação entre jogadores e os resultados a partir dessa combinação. Em outras palavras : para determinar a importãncia de um jogador no jogo deve-se considerar cada possível combinação de jogadores  (ou coalizão ).

O que o SHAP faz é uma metáfora dessa ideia considerando que o jogo é acertar as previsões de um modelo de machine learning ( usualmente black box) e os jogadores são as features. A partir disso, considera-se todas as possíveis combinações entre features (em um power set de features) e se produz um modelo para cada combinação, incluíndo aí o modelo nulo ou dummy (sem features). Dessa forma, é possível saber a previsão feita por cada um desses modelos que partem do mesmo caso (X0) e que usam os mesmos hiperparâmetros - mas que diferem entre si no conjunto de features usado.

De posse disso, é possível criar contrastes entre dois dados modelos(quando aplicados a um caso X0, frise-se) que são treinados em condições idênticas exceto pela presença de uma feature. Essa diferença na presença dessa feature leva, naturalmente, a uma diferença no funcionamento interno do modelo e na previsão que é realizada por ele nesse caso X0. Para calcular o SHAP, a diferença entre as previsões é atribuída ("imputada") à presença (e à extensão) daquela feature. Assim, o tamanho da diferença entre as previsões dos modelos com e sem a feature considerada é a **contribuição marginal** dessa feature nesse caso (X0) **para esse modelo** (que possui essa feature, não presente no modelo-contraste). 

O próximo passo é encontrar essa contribuição marginal para todos os modelos que possuem essa feature adicionada e repetir o cálculo da contribuição marginal dessa feature em cada um desses modelos. Com esses valores podemos criar uma equação que equipara ao valor um todas as contribuições marginais dessa feature em cada um dos modelos, atribuídas um peso para cada uma e somadas.

Teremos, aí, tantos pesos  quantos forem os modelos em que aquela feature está presente e igual número de contribuições marginais. As contribuições marginais da feature no modelo com ela já estarão a essa altura calculadas e os pesos são desconhecidos. Para descobrir os pesos pela via heurística (computacional) é possível aplicar um algoritmo como o a seguir:

1. Considere F o número de features do modelo a ser explicado.
2. Defina uma lista de 0 até F, com cada valor sendo f, representando a quantiadde de features que aquele modelo usa ao ser treinado.
3. Crie um powerset de features, a partir do conjunto de features usado no modelo original a ser previsto, de modo que todas as combinações de features, incluindo o conjunto vazio, apareça ( e que cada feature apareça apenas uma vez).
4. Treine um modelo para cada combinação possível de features e os aloque/associe ao valor f, como se cada modelo estivesse associado a um "nível" de f.
5. Crie um peso para cada modelo treinado (w1, w2, w3).
6. Iguale a somatória dos pesos a 1.
7. Iguale a soma dos pesos de todas as camadas (f=0, f=1, f=2...) entre si.
8. Iguale os pesos dentro de cada camada.
9. Encontre a solução considerando 6, 7 e 8. Isso dará as os valores dos pesos associados a cada contribuição marginal daquela feature em cada modelo em que ela está presente. 

Agora temos tanto os pesos quanto as contribuições marginais. Aplicando os pesos nas contribuiçoes marginais e somando tudo teremos o valor SHAP associado a essa feature para esse caso X0. Ao repetir o processo para todas as features teremos a importância de cada uma delas na previsão ( ou melhor, na explicação da diferença entre o valor com as featurese o modelo nulo).

### Reprodução via código do SHAP

Vamos reproduzir via código a ideia geral do SHAP ( sem incluir as otimizações, para fins meramente didáticos). Consideraremos os valores do site para o exemplo de um modelo que prevê o salário dado age, gender e job. Fizemos um arquivo CSV para representar cada modelo sendo que cada feature é um binário, exceto pela feature prevista, que é o valor do salário.

In [36]:
import pandas as pd

# carrega um dataframe com as representações dos modelos d0 powerset de features e suas previsões
models = pd.read_csv('models_preds.csv')

#pega as features, sua quantidade e a cardinalidade
features = list(models.columns)
X,y = features[0:-1], features[-1]
n_features = len(X)
cardinality = 2**n_features

models

   age  gender  job  salary
0    0       0    0      50
1    1       0    0      40
2    0       1    0      48
3    0       0    1     100
4    1       1    0      39
5    1       0    1      85
6    0       1    1      95
7    1       1    1      83

O próximo passo é conseguir descobrir o valor de f para cada modelo representado. Em seguida vamos descobrir o edge que vincula um modelo a outro, de forma a produzir uma árvore.

In [37]:
def get_f(model):
    ''' recebe a representação de um modelo (Series) e retorna o valor de f para ele'''
    return  int(model[0:-1].sum())

In [38]:
m0 = models.query('age == 0 and gender == 0 and job == 0').squeeze()
f = get_f(m0)
print('\nO modelo \n',m0, '\ntem f = ', f)

m4 = models.query('age == 1 and gender == 1 and job == 0').squeeze()
f = get_f(m4)
print('\nO modelo \n',m4, '\ntem f = ', f)

m7 = models.query('age == 1 and gender == 1 and job == 1').squeeze()
f = get_f(m7)
print('\nO modelo \n',m7, '\ntem f = ', f)

O modelo
 age        0
gender     0
job        0
salary    50
Name: 0, dtype: int64
tem f =  0

O modelo
 age        1
gender     1
job        0
salary    39
Name: 4, dtype: int64
tem f =  2

O modelo
 age        1
gender     1
job        1
salary    83
Name: 7, dtype: int64
tem f =  3

A função para achar o f funciona. Agora vamos criar um grafo unidirecional/árvore que represente os edges. Para isso precisamos catalogar os modelos, atribuir os valores de f, olhar para todos os f +1 e ver se o modelo ali possui todas as suas features e, se sim, se a feature adicional é a feature alvo. Se for, então há um edge entre o modelo no nível f e o nível f+1. Esse edge é importante porque é a partir desse vínculo que tanto pegamos a contribuição marginal da feature naquele modelo para o caso X0 quanto sabemos que precisamos ter um peso associado a essa contribuição marginal.

In [39]:
def get_fs(models):
    ''' função registrar o valor de f'''
    models_catag = models.copy()
    #registra o f
    for ix, row in models_catag.iterrows():
        models_catag.at[ix,'f'] = get_f(row)
    return models_catag

def get_edges(feature_alvo,X, m):
    ''' função para criar a árvore de conexões entre representações de modelo, dada uma feature alvo e um conjunto de features'''
    models_catag = m.copy()
    f = ['f']
    features_nao_alvo = [feature for feature in X if feature not in feature_alvo and feature not in f]
    print(features_nao_alvo)
    # varre cada modelo e descobre suas conexões
    for ix, row in models_catag.iterrows():
        #a origem não pode ter a feature alvo, se tiver pode passar
        if not row[feature_alvo]:
            f_from = row.f 
            #pega o caso que é idêntico nas features não alvo, com f+1
            query = 'f == {} '.format(f_from + 1)
            #monta uma string para a query que encontra o próximo nó
            for feature in features_nao_alvo:
                query = query +' and '+ feature + ' == {} '.format(row[feature])
            # pega o próximo nó para montar o edge
            ix_edge = models_catag.query(query).index[0]
            models_catag.at[ix,'edge'] = ix_edge
    return models_catag

Se tudo correr bem então os resultados são de tal forma que, dado uma feature alvo, um modelo aponte para outro modelo idêntico nas demais features, mas que o modelo destino tenha a feature alvo e o origem não. Vamos testar para os 3 casos.

In [40]:
models_f = get_fs(models)
edges_gender = get_edges('gender',X, models_f)
edges_gender

['age', 'job']

   age  gender  job  salary    f  edge
0    0       0    0      50  0.0   2.0
1    1       0    0      40  1.0   4.0
2    0       1    0      48  1.0   NaN
3    0       0    1     100  1.0   6.0
4    1       1    0      39  2.0   NaN
5    1       0    1      85  2.0   7.0
6    0       1    1      95  2.0   NaN
7    1       1    1      83  3.0   NaN

In [41]:
edges_age = get_edges('age',X, models_f)
edges_age

['gender', 'job']

   age  gender  job  salary    f  edge
0    0       0    0      50  0.0   1.0
1    1       0    0      40  1.0   NaN
2    0       1    0      48  1.0   4.0
3    0       0    1     100  1.0   5.0
4    1       1    0      39  2.0   NaN
5    1       0    1      85  2.0   NaN
6    0       1    1      95  2.0   7.0
7    1       1    1      83  3.0   NaN

In [42]:
edges_job = get_edges('job',X, models_f)
edges_job

['age', 'gender']

   age  gender  job  salary    f  edge
0    0       0    0      50  0.0   3.0
1    1       0    0      40  1.0   5.0
2    0       1    0      48  1.0   6.0
3    0       0    1     100  1.0   NaN
4    1       1    0      39  2.0   7.0
5    1       0    1      85  2.0   NaN
6    0       1    1      95  2.0   NaN
7    1       1    1      83  3.0   NaN

Tudo certo aqui. Agora vamos calcular as contribuições marginais de uma feature em cada modelo.

In [43]:
import math

def get_MC(feature_alvo,X, edges, y):
    ''' retorna as contribuições marginais associadas a cada conexão entre modelos do contraste com e sem a feature alvo '''
    marginal_contributions = edges.copy()

    for ix, row in marginal_contributions.iterrows():
        #verifica se o modelo atual se conecta a outro
        if not math.isnan(row.edge):
            #se sim pega o salário de origem e destino
            prev_to = marginal_contributions.iloc[int(row.edge)][y]
            prev_from = row[y]

            #calcula a diferença e atribui como contribuição marginal ao modelo com a feature alvo
            diff = prev_to - prev_from
            marginal_contributions.at[int(row.edge),'MC'] = diff
    return marginal_contributions

In [44]:
age_MC = get_MC('age',X, edges_age,'salary')
age_MC

   age  gender  job  salary    f  edge    MC
0    0       0    0      50  0.0   1.0   NaN
1    1       0    0      40  1.0   NaN -10.0
2    0       1    0      48  1.0   4.0   NaN
3    0       0    1     100  1.0   5.0   NaN
4    1       1    0      39  2.0   NaN  -9.0
5    1       0    1      85  2.0   NaN -15.0
6    0       1    1      95  2.0   7.0   NaN
7    1       1    1      83  3.0   NaN -12.0

Para age bate com os exemplos do [artigo de Samuelle Mazantinni : SHAP Values Explained Exactly How You Wished Someone Explained to You] (https://towardsdatascience.com/shap-explained-the-way-i-wish-someone-explained-it-to-me-ab81cc69ef30). Vejamos para as outras features.

In [45]:
job_MC = get_MC('job',X, edges_job,'salary')
job_MC

   age  gender  job  salary    f  edge    MC
0    0       0    0      50  0.0   3.0   NaN
1    1       0    0      40  1.0   5.0   NaN
2    0       1    0      48  1.0   6.0   NaN
3    0       0    1     100  1.0   NaN  50.0
4    1       1    0      39  2.0   7.0   NaN
5    1       0    1      85  2.0   NaN  45.0
6    0       1    1      95  2.0   NaN  47.0
7    1       1    1      83  3.0   NaN  44.0

In [46]:
gender_MC = get_MC('gender',X, edges_gender,'salary')
gender_MC

   age  gender  job  salary    f  edge   MC
0    0       0    0      50  0.0   2.0  NaN
1    1       0    0      40  1.0   4.0  NaN
2    0       1    0      48  1.0   NaN -2.0
3    0       0    1     100  1.0   6.0  NaN
4    1       1    0      39  2.0   NaN -1.0
5    1       0    1      85  2.0   7.0  NaN
6    0       1    1      95  2.0   NaN -5.0
7    1       1    1      83  3.0   NaN -2.0

### Calculando os pesos

Para calcular os pesos de modo heurístico (e não pela via das fórmulas ou com binomial) precisamos respeitar trẽs regras:

1. A soma de todos os pesos é igual a 1;
2. A soma de cada camada (f) de features obtidas no poweset é igual a cada outra camada;
3. O valor dos pesos **dentro** de cada camada é o mesmo para cada modelo nessa camada.

In [47]:
def get_weights(edges):
    ''' devolve os pesos dado um DF de MC '''
    # filtra apenas os casos que já tenham MC
    weights = edges.query('not MC.isnull()', engine='python')
    #pega todos os fs
    fs = weights.f.unique()
    n_fs = len(fs)

    #varre os modelos com MC e conta quantos modelos tem naquele f
    for ix, row in weights.iterrows():
        n_models = len(weights.query('f == {}'.format(row.f)))
        # atribui o peso w
        weights.at[ix,'w'] = 1 / (n_fs * n_models)

    return weights

In [48]:
# pega os pesos
age_mc_w = get_weights(age_MC)
gender_mc_w = get_weights(gender_MC)
job_mc_w = get_weights(job_MC)

Calculamos os pesos, agora vamos somar tudo.

In [49]:
import numpy as np

def get_feature_shap(mc_w):
    ''' faz a somatória dado um df com MC e w '''
    return np.round(np.sum(np.multiply(np.array(mc_w['MC']), np.array(mc_w['w']))),2)

In [50]:
age_shap = get_feature_shap(age_mc_w)
age_shap

-11.33

In [51]:
gender_shap = get_feature_shap(gender_mc_w)
gender_shap

-2.33

In [52]:
job_shap = get_feature_shap(job_mc_w)
job_shap

46.67

Os valores bateram com os do artigo didático. Agora vamos devolver um pandas dataframe com os SHAP values.

In [53]:
def get_SHAP_df(model):
    ''' dado um dataframe com a representação dos modelos retorna um df com os SHAP values'''

    #vamos assumir que apenas a representação dos modelos foi passada então pegaremos as features novamente
    #pega as features, sua quantidade e a cardinalidade
    features = list(model.columns)
    X,y = features[0:-1], features[-1]
    n_features = len(X)
    cardinality = 2**n_features
    #pega os valores de f
    model_f = get_fs(model)
    # filtra o modelo que usa todas as features, que tem f máximo
    shap_df = model_f.query('f == {}'.format(n_features))

    #converte as features para float
    for x in X:
        shap_df[x] = shap_df[x].astype(float)
    index = shap_df.head(1).index[0]
    #para cada feature
    for feature in X:
        #pega as conexões
        edges = get_edges(feature,X, model_f)
        #calcula as contribuições marginais
        mc = get_MC(feature,X, edges,y)
        #agrega os pesos
        mc_w = get_weights(mc)
        #calcula a feature SHAP
        feature_shap = get_feature_shap(mc_w)
        
        shap_df.at[index,feature] = feature_shap
    return shap_df.drop('f', axis=1)

In [54]:
models = pd.read_csv('models_preds.csv')
get_SHAP_df(models)

['gender', 'job']
['age', 'job']
['age', 'gender']

     age  gender    job  salary
7 -11.33   -2.33  46.67      83

### Conclusão

Conseguimos reproduzir computacionalmente a fórmula de cálculo dos valores SHAP. Isso implica em uma compreensão de sua mecânica e usa a mesma lógica. O código aqui usou como exemplos o artigo [SHAP Values Explained Exactly How You Wished Someone Explained to You](https://towardsdatascience.com/shap-explained-the-way-i-wish-someone-explained-it-to-me-ab81cc69ef30) de Samuele Mazzanti e usa a abordagem da série Think (como em [Think Statistics](https://greenteapress.com/wp/think-stats-2e/), que resolve problemas de estatística com uma abordagem computacional) e do livro Data Science do Zero.

É possível a partir daqui adaptar esse código para pegar e treinar modelos reais.

### Treinar modelos

Vamos agora adaptar nosso código para lidar com modelos treinados. Como teste, faremos um modelo baseado no California Housing Dataset, que é uma base de dados para prever o preço de imóveis na Califórnia. Primeiro vamos treinar o modelo, escolhendo as 5 features mais relevantes. Depois disso vamos:

1. Fazer o poweset das features
2. Treinar 2^5 modelos
3. Fazer as conexões


#### Preparar os dados

In [55]:
from sklearn.datasets import fetch_california_housing
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline


houses = fetch_california_housing(as_frame=True).frame

In [56]:
houses.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [57]:
houses.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704,2.068558
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532,1.153956
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000,0.149990
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000,1.196000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000,1.797000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000,2.647250
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000,5.000010

In [58]:
# prepara treino e teste
X = houses.copy()
y = X.pop('MedHouseVal')
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.05, random_state=2023)

In [59]:
#pipeline de treino
pipeline = Pipeline([('scaler', StandardScaler()), ('linear_regressor', LinearRegression())])

#treina o modelo
pipeline.fit(X_train, y_train)

Pipeline(steps=[('scaler', StandardScaler()),
                ('linear_regressor', LinearRegression())])

In [60]:
pipeline.score(X_test, y_test)

0.6253366762624648

In [61]:
len(X_test)

1032

### Powerset de features

Sabemos que um powerset de features tem 2^n linhas. No nosso caso então temos:

In [62]:
print(2**len(X.columns))

256

In [63]:
from itertools import chain, combinations
import pandas as pd

def powerset(iterable):
    ''' função para um powerset'''
    s = list(iterable)
    return chain.from_iterable(combinations(s, r) for r in range(len(s)+1))

def get_df_powerset(df):
    ''' dado um dataframe retorna um powerset de features'''

    feature_list = list(df.columns)
    powerset_list = powerset(feature_list)
    new_df = pd.DataFrame(columns=feature_list)
    for subset in powerset_list:
        new_row = {}
        for feature in feature_list:
            if feature in subset:
                new_row[feature] = 1
            else:
                new_row[feature] = 0
        new_df = new_df.append(new_row, ignore_index=True)
    return new_df

In [64]:
#faz um powerset das features de treino
houses_powerset = get_df_powerset(X)
houses_powerset

    MedInc HouseAge AveRooms AveBedrms Population AveOccup Latitude Longitude
0        0        0        0         0          0        0        0         0
1        1        0        0         0          0        0        0         0
2        0        1        0         0          0        0        0         0
3        0        0        1         0          0        0        0         0
4        0        0        0         1          0        0        0         0
..     ...      ...      ...       ...        ...      ...      ...       ...
251      1        1        1         0          1        1        1         1
252      1        1        0         1          1        1        1         1
253      1        0        1         1          1        1        1         1
254      0        1        1         1          1        1        1         1
255      1        1        1         1          1        1        1         1

[256 rows x 8 columns]

São 256 modelos a serem treinados. Precisamos agora treinar um modelo por linha, prever um caso e anotar o resultado.

In [74]:
from sklearn.base import BaseEstimator

class dummy_model(BaseEstimator):
    #o modelo base não tem featuires e retorna a média das previsões do treino 
    def fit(self, X, y=None):
        self.pred = np.mean(y)

    def predict(self, X):
        return self.pred

def filter_features(ix, powerset_df,X):
    X_filtered = X
    if not ix ==0:
        model_representation = powerset_df.iloc[ix]
        subset_cols = [col for col, val in model_representation.items() if val == 1]
        X_filtered = X[subset_cols]
    return X_filtered


def train_powerset_models(X, y):
    #print("pega feature list")
    feature_list = list(X.columns)
    #print(feature_list)
    
    powerset_df = get_df_powerset(X)
    models = {}
    #print('pegou powerset')
    for index, row in powerset_df.iterrows():
        #print('ix, row',index, row)
        subset_cols = [col for col, val in row.items() if val == 1]
        #print(subset_cols)
        if not subset_cols: # se o subset for vazio usa o dummy model
            #print("treinando dummy model")
            model = dummy_model()
            model.fit(X, y) # X não importa, pode passar todas as features mesmo
        else:
            #print("treinando modelo RL")
            X_train = X[subset_cols]
            model = Pipeline([('scaler', StandardScaler()), ('linear_regressor', LinearRegression())])
            model.fit(X_train, y)
        #print('registrando modelo')
        models[index] = model
    print('tudo certo com fazer os modelos')
    return models

In [75]:
models = train_powerset_models(X_train, y_train)

#pega um caso
X0 = X_test.head(1)
print(X0)

for index, model in models.items():
    print(index)
    X0_filtrado = filter_features(index, houses_powerset,X0)
    print('X0 filtrado')
    print(X0_filtrado.columns)
    houses_powerset.at[index,'target'] = model.predict(X0_filtrado)

tudo certo com fazer os modelos
       MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
18253  2.7279      34.0  3.404063   1.090293       774.0  1.747178     37.39

       Longitude
18253    -122.09
0
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup',
       'Latitude', 'Longitude'],
      dtype='object')
1
X0 filtrado
Index(['MedInc'], dtype='object')
2
X0 filtrado
Index(['HouseAge'], dtype='object')
3
X0 filtrado
Index(['AveRooms'], dtype='object')
4
X0 filtrado
Index(['AveBedrms'], dtype='object')
5
X0 filtrado
Index(['Population'], dtype='object')
6
X0 filtrado
Index(['AveOccup'], dtype='object')
7
X0 filtrado
Index(['Latitude'], dtype='object')
8
X0 filtrado
Index(['Longitude'], dtype='object')
9
X0 filtrado
Index(['MedInc', 'HouseAge'], dtype='object')
10
X0 filtrado
Index(['MedInc', 'AveRooms'], dtype='object')
11
X0 filtrado
Index(['MedInc', 'AveBedrms'], dtype='object')
12
X0 filtrado
Index(['MedInc', 'Population'], dtype='object')
13
X0 filtrado
Index(['MedInc', 'AveOccup'], dtype='object')
14
X0 filtrado
Index(['MedInc', 'Latitude'], dtype='object')
15
X0 filtrado
Index(['MedInc', 'Longitude'], dtype='object')
16
X0 filtrado
Index(['HouseAge', 'AveRooms'], dtype='object')
17
X0 filtrado
Index(['HouseAge', 'AveBedrms'], dtype='object')
18
X0 filtrado
Index(['HouseAge', 'Population'], dtype='object')
19
X0 filtrado
Index(['HouseAge', 'AveOccup'], dtype='object')
20
X0 filtrado
Index(['HouseAge', 'Latitude'], dtype='object')
21
X0 filtrado
Index(['HouseAge', 'Longitude'], dtype='object')
22
X0 filtrado
Index(['AveRooms', 'AveBedrms'], dtype='object')
23
X0 filtrado
Index(['AveRooms', 'Population'], dtype='object')
24
X0 filtrado
Index(['AveRooms', 'AveOccup'], dtype='object')
25
X0 filtrado
Index(['AveRooms', 'Latitude'], dtype='object')
26
X0 filtrado
Index(['AveRooms', 'Longitude'], dtype='object')
27
X0 filtrado
Index(['AveBedrms', 'Population'], dtype='object')
28
X0 filtrado
Index(['AveBedrms', 'AveOccup'], dtype='object')
29
X0 filtrado
Index(['AveBedrms', 'Latitude'], dtype='object')
30
X0 filtrado
Index(['AveBedrms', 'Longitude'], dtype='object')
31
X0 filtrado
Index(['Population', 'AveOccup'], dtype='object')
32
X0 filtrado
Index(['Population', 'Latitude'], dtype='object')
33
X0 filtrado
Index(['Population', 'Longitude'], dtype='object')
34
X0 filtrado
Index(['AveOccup', 'Latitude'], dtype='object')
35
X0 filtrado
Index(['AveOccup', 'Longitude'], dtype='object')
36
X0 filtrado
Index(['Latitude', 'Longitude'], dtype='object')
37
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveRooms'], dtype='object')
38
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveBedrms'], dtype='object')
39
X0 filtrado
Index(['MedInc', 'HouseAge', 'Population'], dtype='object')
40
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveOccup'], dtype='object')
41
X0 filtrado
Index(['MedInc', 'HouseAge', 'Latitude'], dtype='object')
42
X0 filtrado
Index(['MedInc', 'HouseAge', 'Longitude'], dtype='object')
43
X0 filtrado
Index(['MedInc', 'AveRooms', 'AveBedrms'], dtype='object')
44
X0 filtrado
Index(['MedInc', 'AveRooms', 'Population'], dtype='object')
45
X0 filtrado
Index(['MedInc', 'AveRooms', 'AveOccup'], dtype='object')
46
X0 filtrado
Index(['MedInc', 'AveRooms', 'Latitude'], dtype='object')
47
X0 filtrado
Index(['MedInc', 'AveRooms', 'Longitude'], dtype='object')
48
X0 filtrado
Index(['MedInc', 'AveBedrms', 'Population'], dtype='object')
49
X0 filtrado
Index(['MedInc', 'AveBedrms', 'AveOccup'], dtype='object')
50
X0 filtrado
Index(['MedInc', 'AveBedrms', 'Latitude'], dtype='object')
51
X0 filtrado
Index(['MedInc', 'AveBedrms', 'Longitude'], dtype='object')
52
X0 filtrado
Index(['MedInc', 'Population', 'AveOccup'], dtype='object')
53
X0 filtrado
Index(['MedInc', 'Population', 'Latitude'], dtype='object')
54
X0 filtrado
Index(['MedInc', 'Population', 'Longitude'], dtype='object')
55
X0 filtrado
Index(['MedInc', 'AveOccup', 'Latitude'], dtype='object')
56
X0 filtrado
Index(['MedInc', 'AveOccup', 'Longitude'], dtype='object')
57
X0 filtrado
Index(['MedInc', 'Latitude', 'Longitude'], dtype='object')
58
X0 filtrado
Index(['HouseAge', 'AveRooms', 'AveBedrms'], dtype='object')
59
X0 filtrado
Index(['HouseAge', 'AveRooms', 'Population'], dtype='object')
60
X0 filtrado
Index(['HouseAge', 'AveRooms', 'AveOccup'], dtype='object')
61
X0 filtrado
Index(['HouseAge', 'AveRooms', 'Latitude'], dtype='object')
62
X0 filtrado
Index(['HouseAge', 'AveRooms', 'Longitude'], dtype='object')
63
X0 filtrado
Index(['HouseAge', 'AveBedrms', 'Population'], dtype='object')
64
X0 filtrado
Index(['HouseAge', 'AveBedrms', 'AveOccup'], dtype='object')
65
X0 filtrado
Index(['HouseAge', 'AveBedrms', 'Latitude'], dtype='object')
66
X0 filtrado
Index(['HouseAge', 'AveBedrms', 'Longitude'], dtype='object')
67
X0 filtrado
Index(['HouseAge', 'Population', 'AveOccup'], dtype='object')
68
X0 filtrado
Index(['HouseAge', 'Population', 'Latitude'], dtype='object')
69
X0 filtrado
Index(['HouseAge', 'Population', 'Longitude'], dtype='object')
70
X0 filtrado
Index(['HouseAge', 'AveOccup', 'Latitude'], dtype='object')
71
X0 filtrado
Index(['HouseAge', 'AveOccup', 'Longitude'], dtype='object')
72
X0 filtrado
Index(['HouseAge', 'Latitude', 'Longitude'], dtype='object')
73
X0 filtrado
Index(['AveRooms', 'AveBedrms', 'Population'], dtype='object')
74
X0 filtrado
Index(['AveRooms', 'AveBedrms', 'AveOccup'], dtype='object')
75
X0 filtrado
Index(['AveRooms', 'AveBedrms', 'Latitude'], dtype='object')
76
X0 filtrado
Index(['AveRooms', 'AveBedrms', 'Longitude'], dtype='object')
77
X0 filtrado
Index(['AveRooms', 'Population', 'AveOccup'], dtype='object')
78
X0 filtrado
Index(['AveRooms', 'Population', 'Latitude'], dtype='object')
79
X0 filtrado
Index(['AveRooms', 'Population', 'Longitude'], dtype='object')
80
X0 filtrado
Index(['AveRooms', 'AveOccup', 'Latitude'], dtype='object')
81
X0 filtrado
Index(['AveRooms', 'AveOccup', 'Longitude'], dtype='object')
82
X0 filtrado
Index(['AveRooms', 'Latitude', 'Longitude'], dtype='object')
83
X0 filtrado
Index(['AveBedrms', 'Population', 'AveOccup'], dtype='object')
84
X0 filtrado
Index(['AveBedrms', 'Population', 'Latitude'], dtype='object')
85
X0 filtrado
Index(['AveBedrms', 'Population', 'Longitude'], dtype='object')
86
X0 filtrado
Index(['AveBedrms', 'AveOccup', 'Latitude'], dtype='object')
87
X0 filtrado
Index(['AveBedrms', 'AveOccup', 'Longitude'], dtype='object')
88
X0 filtrado
Index(['AveBedrms', 'Latitude', 'Longitude'], dtype='object')
89
X0 filtrado
Index(['Population', 'AveOccup', 'Latitude'], dtype='object')
90
X0 filtrado
Index(['Population', 'AveOccup', 'Longitude'], dtype='object')
91
X0 filtrado
Index(['Population', 'Latitude', 'Longitude'], dtype='object')
92
X0 filtrado
Index(['AveOccup', 'Latitude', 'Longitude'], dtype='object')
93
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms'], dtype='object')
94
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveRooms', 'Population'], dtype='object')
95
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveRooms', 'AveOccup'], dtype='object')
96
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveRooms', 'Latitude'], dtype='object')
97
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveRooms', 'Longitude'], dtype='object')
98
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveBedrms', 'Population'], dtype='object')
99
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveBedrms', 'AveOccup'], dtype='object')
100
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveBedrms', 'Latitude'], dtype='object')
101
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveBedrms', 'Longitude'], dtype='object')
102
X0 filtrado
Index(['MedInc', 'HouseAge', 'Population', 'AveOccup'], dtype='object')
103
X0 filtrado
Index(['MedInc', 'HouseAge', 'Population', 'Latitude'], dtype='object')
104
X0 filtrado
Index(['MedInc', 'HouseAge', 'Population', 'Longitude'], dtype='object')
105
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveOccup', 'Latitude'], dtype='object')
106
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveOccup', 'Longitude'], dtype='object')
107
X0 filtrado
Index(['MedInc', 'HouseAge', 'Latitude', 'Longitude'], dtype='object')
108
X0 filtrado
Index(['MedInc', 'AveRooms', 'AveBedrms', 'Population'], dtype='object')
109
X0 filtrado
Index(['MedInc', 'AveRooms', 'AveBedrms', 'AveOccup'], dtype='object')
110
X0 filtrado
Index(['MedInc', 'AveRooms', 'AveBedrms', 'Latitude'], dtype='object')
111
X0 filtrado
Index(['MedInc', 'AveRooms', 'AveBedrms', 'Longitude'], dtype='object')
112
X0 filtrado
Index(['MedInc', 'AveRooms', 'Population', 'AveOccup'], dtype='object')
113
X0 filtrado
Index(['MedInc', 'AveRooms', 'Population', 'Latitude'], dtype='object')
114
X0 filtrado
Index(['MedInc', 'AveRooms', 'Population', 'Longitude'], dtype='object')
115
X0 filtrado
Index(['MedInc', 'AveRooms', 'AveOccup', 'Latitude'], dtype='object')
116
X0 filtrado
Index(['MedInc', 'AveRooms', 'AveOccup', 'Longitude'], dtype='object')
117
X0 filtrado
Index(['MedInc', 'AveRooms', 'Latitude', 'Longitude'], dtype='object')
118
X0 filtrado
Index(['MedInc', 'AveBedrms', 'Population', 'AveOccup'], dtype='object')
119
X0 filtrado
Index(['MedInc', 'AveBedrms', 'Population', 'Latitude'], dtype='object')
120
X0 filtrado
Index(['MedInc', 'AveBedrms', 'Population', 'Longitude'], dtype='object')
121
X0 filtrado
Index(['MedInc', 'AveBedrms', 'AveOccup', 'Latitude'], dtype='object')
122
X0 filtrado
Index(['MedInc', 'AveBedrms', 'AveOccup', 'Longitude'], dtype='object')
123
X0 filtrado
Index(['MedInc', 'AveBedrms', 'Latitude', 'Longitude'], dtype='object')
124
X0 filtrado
Index(['MedInc', 'Population', 'AveOccup', 'Latitude'], dtype='object')
125
X0 filtrado
Index(['MedInc', 'Population', 'AveOccup', 'Longitude'], dtype='object')
126
X0 filtrado
Index(['MedInc', 'Population', 'Latitude', 'Longitude'], dtype='object')
127
X0 filtrado
Index(['MedInc', 'AveOccup', 'Latitude', 'Longitude'], dtype='object')
128
X0 filtrado
Index(['HouseAge', 'AveRooms', 'AveBedrms', 'Population'], dtype='object')
129
X0 filtrado
Index(['HouseAge', 'AveRooms', 'AveBedrms', 'AveOccup'], dtype='object')
130
X0 filtrado
Index(['HouseAge', 'AveRooms', 'AveBedrms', 'Latitude'], dtype='object')
131
X0 filtrado
Index(['HouseAge', 'AveRooms', 'AveBedrms', 'Longitude'], dtype='object')
132
X0 filtrado
Index(['HouseAge', 'AveRooms', 'Population', 'AveOccup'], dtype='object')
133
X0 filtrado
Index(['HouseAge', 'AveRooms', 'Population', 'Latitude'], dtype='object')
134
X0 filtrado
Index(['HouseAge', 'AveRooms', 'Population', 'Longitude'], dtype='object')
135
X0 filtrado
Index(['HouseAge', 'AveRooms', 'AveOccup', 'Latitude'], dtype='object')
136
X0 filtrado
Index(['HouseAge', 'AveRooms', 'AveOccup', 'Longitude'], dtype='object')
137
X0 filtrado
Index(['HouseAge', 'AveRooms', 'Latitude', 'Longitude'], dtype='object')
138
X0 filtrado
Index(['HouseAge', 'AveBedrms', 'Population', 'AveOccup'], dtype='object')
139
X0 filtrado
Index(['HouseAge', 'AveBedrms', 'Population', 'Latitude'], dtype='object')
140
X0 filtrado
Index(['HouseAge', 'AveBedrms', 'Population', 'Longitude'], dtype='object')
141
X0 filtrado
Index(['HouseAge', 'AveBedrms', 'AveOccup', 'Latitude'], dtype='object')
142
X0 filtrado
Index(['HouseAge', 'AveBedrms', 'AveOccup', 'Longitude'], dtype='object')
143
X0 filtrado
Index(['HouseAge', 'AveBedrms', 'Latitude', 'Longitude'], dtype='object')
144
X0 filtrado
Index(['HouseAge', 'Population', 'AveOccup', 'Latitude'], dtype='object')
145
X0 filtrado
Index(['HouseAge', 'Population', 'AveOccup', 'Longitude'], dtype='object')
146
X0 filtrado
Index(['HouseAge', 'Population', 'Latitude', 'Longitude'], dtype='object')
147
X0 filtrado
Index(['HouseAge', 'AveOccup', 'Latitude', 'Longitude'], dtype='object')
148
X0 filtrado
Index(['AveRooms', 'AveBedrms', 'Population', 'AveOccup'], dtype='object')
149
X0 filtrado
Index(['AveRooms', 'AveBedrms', 'Population', 'Latitude'], dtype='object')
150
X0 filtrado
Index(['AveRooms', 'AveBedrms', 'Population', 'Longitude'], dtype='object')
151
X0 filtrado
Index(['AveRooms', 'AveBedrms', 'AveOccup', 'Latitude'], dtype='object')
152
X0 filtrado
Index(['AveRooms', 'AveBedrms', 'AveOccup', 'Longitude'], dtype='object')
153
X0 filtrado
Index(['AveRooms', 'AveBedrms', 'Latitude', 'Longitude'], dtype='object')
154
X0 filtrado
Index(['AveRooms', 'Population', 'AveOccup', 'Latitude'], dtype='object')
155
X0 filtrado
Index(['AveRooms', 'Population', 'AveOccup', 'Longitude'], dtype='object')
156
X0 filtrado
Index(['AveRooms', 'Population', 'Latitude', 'Longitude'], dtype='object')
157
X0 filtrado
Index(['AveRooms', 'AveOccup', 'Latitude', 'Longitude'], dtype='object')
158
X0 filtrado
Index(['AveBedrms', 'Population', 'AveOccup', 'Latitude'], dtype='object')
159
X0 filtrado
Index(['AveBedrms', 'Population', 'AveOccup', 'Longitude'], dtype='object')
160
X0 filtrado
Index(['AveBedrms', 'Population', 'Latitude', 'Longitude'], dtype='object')
161
X0 filtrado
Index(['AveBedrms', 'AveOccup', 'Latitude', 'Longitude'], dtype='object')
162
X0 filtrado
Index(['Population', 'AveOccup', 'Latitude', 'Longitude'], dtype='object')
163
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population'], dtype='object')
164
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'AveOccup'], dtype='object')
165
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Latitude'], dtype='object')
166
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Longitude'], dtype='object')
167
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveRooms', 'Population', 'AveOccup'], dtype='object')
168
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveRooms', 'Population', 'Latitude'], dtype='object')
169
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveRooms', 'Population', 'Longitude'], dtype='object')
170
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveRooms', 'AveOccup', 'Latitude'], dtype='object')
171
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveRooms', 'AveOccup', 'Longitude'], dtype='object')
172
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveRooms', 'Latitude', 'Longitude'], dtype='object')
173
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveBedrms', 'Population', 'AveOccup'], dtype='object')
174
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveBedrms', 'Population', 'Latitude'], dtype='object')
175
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveBedrms', 'Population', 'Longitude'], dtype='object')
176
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveBedrms', 'AveOccup', 'Latitude'], dtype='object')
177
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveBedrms', 'AveOccup', 'Longitude'], dtype='object')
178
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveBedrms', 'Latitude', 'Longitude'], dtype='object')
179
X0 filtrado
Index(['MedInc', 'HouseAge', 'Population', 'AveOccup', 'Latitude'], dtype='object')
180
X0 filtrado
Index(['MedInc', 'HouseAge', 'Population', 'AveOccup', 'Longitude'], dtype='object')
181
X0 filtrado
Index(['MedInc', 'HouseAge', 'Population', 'Latitude', 'Longitude'], dtype='object')
182
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveOccup', 'Latitude', 'Longitude'], dtype='object')
183
X0 filtrado
Index(['MedInc', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup'], dtype='object')
184
X0 filtrado
Index(['MedInc', 'AveRooms', 'AveBedrms', 'Population', 'Latitude'], dtype='object')
185
X0 filtrado
Index(['MedInc', 'AveRooms', 'AveBedrms', 'Population', 'Longitude'], dtype='object')
186
X0 filtrado
Index(['MedInc', 'AveRooms', 'AveBedrms', 'AveOccup', 'Latitude'], dtype='object')
187
X0 filtrado
Index(['MedInc', 'AveRooms', 'AveBedrms', 'AveOccup', 'Longitude'], dtype='object')
188
X0 filtrado
Index(['MedInc', 'AveRooms', 'AveBedrms', 'Latitude', 'Longitude'], dtype='object')
189
X0 filtrado
Index(['MedInc', 'AveRooms', 'Population', 'AveOccup', 'Latitude'], dtype='object')
190
X0 filtrado
Index(['MedInc', 'AveRooms', 'Population', 'AveOccup', 'Longitude'], dtype='object')
191
X0 filtrado
Index(['MedInc', 'AveRooms', 'Population', 'Latitude', 'Longitude'], dtype='object')
192
X0 filtrado
Index(['MedInc', 'AveRooms', 'AveOccup', 'Latitude', 'Longitude'], dtype='object')
193
X0 filtrado
Index(['MedInc', 'AveBedrms', 'Population', 'AveOccup', 'Latitude'], dtype='object')
194
X0 filtrado
Index(['MedInc', 'AveBedrms', 'Population', 'AveOccup', 'Longitude'], dtype='object')
195
X0 filtrado
Index(['MedInc', 'AveBedrms', 'Population', 'Latitude', 'Longitude'], dtype='object')
196
X0 filtrado
Index(['MedInc', 'AveBedrms', 'AveOccup', 'Latitude', 'Longitude'], dtype='object')
197
X0 filtrado
Index(['MedInc', 'Population', 'AveOccup', 'Latitude', 'Longitude'], dtype='object')
198
X0 filtrado
Index(['HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup'], dtype='object')
199
X0 filtrado
Index(['HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'Latitude'], dtype='object')
200
X0 filtrado
Index(['HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'Longitude'], dtype='object')
201
X0 filtrado
Index(['HouseAge', 'AveRooms', 'AveBedrms', 'AveOccup', 'Latitude'], dtype='object')
202
X0 filtrado
Index(['HouseAge', 'AveRooms', 'AveBedrms', 'AveOccup', 'Longitude'], dtype='object')
203
X0 filtrado
Index(['HouseAge', 'AveRooms', 'AveBedrms', 'Latitude', 'Longitude'], dtype='object')
204
X0 filtrado
Index(['HouseAge', 'AveRooms', 'Population', 'AveOccup', 'Latitude'], dtype='object')
205
X0 filtrado
Index(['HouseAge', 'AveRooms', 'Population', 'AveOccup', 'Longitude'], dtype='object')
206
X0 filtrado
Index(['HouseAge', 'AveRooms', 'Population', 'Latitude', 'Longitude'], dtype='object')
207
X0 filtrado
Index(['HouseAge', 'AveRooms', 'AveOccup', 'Latitude', 'Longitude'], dtype='object')
208
X0 filtrado
Index(['HouseAge', 'AveBedrms', 'Population', 'AveOccup', 'Latitude'], dtype='object')
209
X0 filtrado
Index(['HouseAge', 'AveBedrms', 'Population', 'AveOccup', 'Longitude'], dtype='object')
210
X0 filtrado
Index(['HouseAge', 'AveBedrms', 'Population', 'Latitude', 'Longitude'], dtype='object')
211
X0 filtrado
Index(['HouseAge', 'AveBedrms', 'AveOccup', 'Latitude', 'Longitude'], dtype='object')
212
X0 filtrado
Index(['HouseAge', 'Population', 'AveOccup', 'Latitude', 'Longitude'], dtype='object')
213
X0 filtrado
Index(['AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'Latitude'], dtype='object')
214
X0 filtrado
Index(['AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'Longitude'], dtype='object')
215
X0 filtrado
Index(['AveRooms', 'AveBedrms', 'Population', 'Latitude', 'Longitude'], dtype='object')
216
X0 filtrado
Index(['AveRooms', 'AveBedrms', 'AveOccup', 'Latitude', 'Longitude'], dtype='object')
217
X0 filtrado
Index(['AveRooms', 'Population', 'AveOccup', 'Latitude', 'Longitude'], dtype='object')
218
X0 filtrado
Index(['AveBedrms', 'Population', 'AveOccup', 'Latitude', 'Longitude'], dtype='object')
219
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population',
       'AveOccup'],
      dtype='object')
220
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population',
       'Latitude'],
      dtype='object')
221
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population',
       'Longitude'],
      dtype='object')
222
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'AveOccup', 'Latitude'], dtype='object')
223
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'AveOccup', 'Longitude'], dtype='object')
224
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Latitude', 'Longitude'], dtype='object')
225
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveRooms', 'Population', 'AveOccup', 'Latitude'], dtype='object')
226
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveRooms', 'Population', 'AveOccup',
       'Longitude'],
      dtype='object')
227
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveRooms', 'Population', 'Latitude',
       'Longitude'],
      dtype='object')
228
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveRooms', 'AveOccup', 'Latitude', 'Longitude'], dtype='object')
229
X0 filtrado
Index(['MedInc', 'HouseAge', 'AveBedrms', 'Population', 'AveOccup',
       'Latitude'],

In [76]:
get_SHAP_df(houses_powerset)

['HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'Latitude', 'Longitude']
['MedInc', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'Latitude', 'Longitude']
['MedInc', 'HouseAge', 'AveBedrms', 'Population', 'AveOccup', 'Latitude', 'Longitude']
['MedInc', 'HouseAge', 'AveRooms', 'Population', 'AveOccup', 'Latitude', 'Longitude']
['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'AveOccup', 'Latitude', 'Longitude']
['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'Latitude', 'Longitude']
['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'Longitude']
['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'Latitude']

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
255,-0.17,0.02,-0.09,-0.01,0.01,0.0,0.11,0.27,2.192149